@model IEnumerable<CardCommentData>

<div class="comments-container row">
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            foreach (var comment in Model)
            {
                switch (comment.UserRating)
                {
                    case 0:
                        <div id="container-@comment.CardCommentID-container" class="col-md-12 col-xs-12">
                            <div class="well well-sm" style="background-color:lightgrey;">
                                <p id="container-@comment.CardCommentID" class="comment"><strong id="username">@comment.Username</strong> : <span id="text-@comment.CardCommentID">@comment.Comment</span></p>
                                <p style="font-size:small;">
                                    <span id="likes-@comment.CardCommentID">@comment.Rating</span>
                                    <button class="rating-button btn btn-default btn-sm" id="like-comment-@comment.CardCommentID" onclick="rateComment(@comment.CardCommentID)">+1</button>
                                    @if (comment.UserID.ToString() == User.Claims.ElementAt(0).Value)
                                    {
                                        <a id="@comment.CardCommentID" class="edit-comment-link" href="Edit">Edit</a>
                                        <a id="@comment.CardCommentID" class="delete-comment-link" href="Delete">Delete</a>
                                    }
                                    else
                                    {
                                        <a id="@comment.CardCommentID" class="report-comment-link" href="Report">Report</a>
                                    }
                                </p>
                                <p style="font-size:small;">@comment.Date</p>
                            </div>
                        </div>
                        break;

                    case 1:
                        <div id="container-@comment.CardCommentID-container" class="col-md-12 col-xs-12">
                            <div class="well well-sm" style="background-color:lightgrey;">
                                <p id="container-@comment.CardCommentID"><strong id="username">@comment.Username</strong> : <span id="text-@comment.CardCommentID">@comment.Comment</span></p>
                                <span id="likes-@comment.CardCommentID">@comment.Rating</span>
                                <button class="rating-button btn btn-default btn-sm" id="like-comment-@comment.CardCommentID" style="background-color:green;" onclick="rateComment(@comment.CardCommentID)">+1</button>
                                @if (comment.UserID.ToString() == User.Claims.ElementAt(0).Value)
                                {
                                    <a id="@comment.CardCommentID" class="edit-comment-link" href="Edit">Edit</a>
                                    <a id="@comment.CardCommentID" class="delete-comment-link" href="Delete">Delete</a>
                                }
                                else
                                {
                                    <a id="@comment.CardCommentID" class="report-comment-link" href="Report">Report</a>
                                }
                                <p style="font-size:small;">@comment.Date</p>
                            </div>
                        </div>
                        break;
                }
            }

            <form name="comment-form" id="comment-form">
                <div class="col-md-6 col-xs-6">
                    <div class="well well-sm">
                        <input name="comment-text" class="comment-text form-control" placeholder="Leave a comment..." required />
                        <input type="submit" hidden />
                    </div>
                </div>
            </form>
        }
        else
        {
            foreach (var comment in Model)
            {
                <div class="col-md-12 col-xs-12">
                    <div class="comment well well-sm" style="background-color:lightgrey;">
                        <p class="comment"><strong>@comment.Username : </strong>@comment.Comment</p>
                        <span id="likes-@comment.CardCommentID">@comment.Rating</span>
                        <button class="btn btn-default btn-sm rating-button" onclick="redirectToLogin()">+1</button>
                        <p style="font-size:small;">@comment.Date</p>
                    </div>
                </div>
            }

            <form name="unauthenticated-comment-form" id="unauthenticated-comment-form">
                <div class="col-md-6 col-xs-6">
                    <div class="well well-sm">
                        <input name="comment-text" class="comment-text form-control" placeholder="Leave a comment..." required />
                        <input type="submit" hidden />
                    </div>
                </div>
            </form>
        }
    </div>
</div>