@model DecksViewModel

@{
    ViewData["Title"] = "Deck Browser";
}

<div class="jumbotron col-md-10 col-xs-12 col-md-offset-1">
    <div class="row">
        <div class="col-md-4">
            <div class="well">

                <form name="deck-filters" id="deck-filters">
                    <div class="form-horizontal">

                        <!-- search filter -->
                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                <label>Search for a deck</label>
                                <input name="searchFilter" class="form-control" value="@Model.SearchFilter" />
                            </div>
                        </div>

                        <!-- user filter -->
                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                <label>Search for a user</label>
                                <input name="userFilter" class="form-control" value="@Model.UserFilter" />
                            </div>
                        </div>

                        <!-- factions filter -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <p style="font-size:medium;border-bottom:1px solid black;"><strong>Factions</strong></p>
                                <span><img id="Fire" class="faction-icon" src="~/images/icons/factions/fire-icon.png" /></span>
                                <span><img id="Time" class="faction-icon" src="~/images/icons/factions/time-icon.png" /></span>
                                <span><img id="Justice" class="faction-icon" src="~/images/icons/factions/justice-icon.png" /></span>
                                <span><img id="Primal" class="faction-icon" src="~/images/icons/factions/primal-icon.png" /></span>
                                <span><img id="Shadow" class="faction-icon" src="~/images/icons/factions/shadow-icon.png" /></span>
                                <input id="faction-filter" name="factionFilter" value="@Model.FactionFilter" hidden />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input class="btn btn-primary" type="submit" value="Apply Filters" /> |
                                <a style="display:inline-block;" href="#" id="reset-filter-link">Reset Filters</a>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>

        <div class="col-md-8">

            <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                 page-class="btn" page-class-normal="btn-default" page-class-selected="btn-primary"
                 page-url-searchFilter="@Model.SearchFilter"
                 page-url-factionFilter="@Model.FactionFilter"
                 page-url-userFilter="@Model.UserFilter">
            </div>

            <hr />

            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Factions
                            </th>
                            <th>
                                Rating
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var deck in Model.Decks)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-route-id="@deck.DeckID" style="font-size:medium;">@deck.Name</a>
                                    <p style="font-size:smaller;">by <a asp-action="Index" asp-route-userFilter="@deck.Username">@deck.Username</a></p>
                                </td>
                                <td id="factions">
                                    @{
                                        var factions = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(deck.Factions);
                                        foreach (var faction in factions)
                                        {
                                            <span><img style="width:20px;height:20px;" src="~/images/icons/factions/@faction.ToLower()-icon.png" /></span>
                                        }
                                    }
                                </td>
                                <td>
                                    <span style="color:green;">@deck.Rating</span>
                                </td>
                                <td></td>
                            </tr>
                         }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/DeckFiltersController.js"></script>
}